<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="androidx.wear.compose.material3, androidx.wear.compose.foundation, androidx.wear.compose.material.core, androidx.wear.compose.material" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name=".JwskApplication"
        android:allowBackup="true"
        android:autoRevokePermissions="allowed"
        android:banner="@drawable/ic_jwsk_launcher"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/ic_jwsk_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@drawable/ic_jwsk_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:remove="android:appComponentFactory"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:banner="@drawable/ic_jwsk_launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".patch.PatchHubActivity"
            android:exported="false"
            android:label="@string/patch_hub_title" />

        <activity
            android:name=".about.AboutActivity"
            android:exported="false"
            android:label="@string/action_about" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/jwsk_file_paths" />
        </provider>
    </application>

</manifest>
